# Virtual Environment
venv/

# Python Bytecode Files
__pycache__/
*.py[cod]
*.pyo

# Environment Files
.env
.env.*

# Log Files
*.log

# System Files
.DS_Store
Thumbs.db

# IDE/Editor Configurations
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
.devcontainer/
